.carousel-container {
    width: 100%; 
    position: relative;
}

.carousel {
    animation: slide 15s linear infinite;
}

.carousel:hover {
    animation-play-state: paused;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}